<%-include('./header')%>


<h2>Détails of places</h2>
<div class="ctn-img">
<h2><STRONG>Name:</STRONG><%=Place.name%></h2>
<img  class ="img-detail" src="/<%=Place.pathImage%>" alt="picture of place" />
<div id='like-ctn'>
    <p><span class="lik-place" id="like-place" ><%=Like.length%></p>
</div>
<% if(user===undefined){%>
    <%}else{%>
    <div >
        <form id="like" >
            <button type="submit" class="btn-like"><ion-icon  name="heart-outline"></ion-icon></button>
      
        </form>
    </div>
    <%}%>
<div>
    <div class="box_comt">

<P class="p-des"><strong>Description:</strong><%=Place.description%></P>
<P ><strong>Date:</strong><%=Place.dates%></P>

<div id="place-id"><%=Place._id%></div>
<% if(user===undefined){%>
    <% }else{ %>

    <form id="send-id">
    <h3><label for="comt">Leave a comment:</label></h3>
    <textarea name="comt" id="comt" placeholder="your comment"></textarea> </p>
    <p><input class="comment" type="submit" value="Send"  ></p>

</form>
<%}%>

<div id="comment-ctn">
    <% for( const comment of Comment){%>
        <div class="comt-place">
        <p class="p-comt"><strong>Comment:</strong><%=comment.comment%></p>
        <p class="P-dat"><strong>Date:</strong><%=comment.dates%></p>
        <p class="P-auther"><strong>Author:</strong><a href='/users/profil'><%=comment.author%></a></p>

        </div>
    </div>
    <%}%>

</div>
</div>
</div>



<%-include('./footer')%>