<%-include('./header')%>
<main>
<title><%=title%></title>
<h2>List of places</h2>

<% for(var i=0 ;i< Place.length; i++){%>
    <P><strong>Name:</strong><%=Place[i].name%></P> 
  <P><strong>Description:</strong><%=Place[i].description%></P>
 <P><strong>Date:</strong> <%=Place[i].dates%></P>
  <a href="<%=`/details/${Place[i]._id}`%>"><img src=" <%=Place[i].pathImage%>"/></a>

  <form action="/admin/valid" method="POST">
  <input type="hidden" value="<%=Place[i]._id %>" name="id"/>
  <input type="submit" value="Validate" class="btn"/>

</form>

<%}%>
</main>

<%-include('./footer')%>