<%-include('./header');%>
<title><%=title%></title>
<h2>Modify your informations</h2>
<% for (var i=0 ; i < User.length; i++){%>

<div class="profil-form">
    <P><label>Firstname:</label>

        <input type="text" name="firstnama" value="<%=User[i].firstname%>" /></P>
    <p><label>Lastname:</label>
        <input type="text" name="lastname" value="<%=User[i].lastname%>" /></p>

    <p><label>Email:</label>
        <input type="email" name="email" value="<%=User[i].email%>" /></p>
    <%}%>

<p><label>Current password</label>
<input type="password" name="password" id="password" required></P>

<P> <label for="password">Password:</label>
    <input type="password" name="password" id="password" required></P>

<P> <label for="passwordC">Confirm the password:</label>
    <input type="password" name="passwordC" id='passwordC' required></P>

<P><input type="submit" id="buton" value="Send it!" class="btn"></P>
</div>
<%-include('./footer');%>